.courses{
    background-color:rgb(249, 249, 249)
}
.page-title{
    text-align: center;
    padding: 10px;
    font-size: xx-large;
}
 .column{
    border: 1px solid white;
    padding: 5px;
    display: flex;
    flex-direction: row;
}
.r1-c1, .r1-c2, .r1-c3, .r2-c1, .r2-c2, .r2-c3, .r3-c1, .r3-c2, .r3-c3{
    border: 1px solid white;
    border-radius: 5px;
    margin: 15px;
    padding: 10px;
    background-color:white;
}
.viewmore{
   float: right;
   border-color: grey;
   border-radius: 3px;
}
.viewmore:hover{
  background-color: aquamarine;
}
/*
.column-1, .column-2, .column-3, .column-4, .column-5, .column-6, .column-7, .column-8, .column-9{
    float: left;
    width: 33.33%;
    
  }
  .column-1{
    background-color: red;
  }
  .column-2{
    background-color: blue;
  }
  
  .column-3{
    background-color: goldenrod;
  }
  .column-4{
 background-color: aqua;
  }
  .column-5{
    background-color: blueviolet;
  }
  .column-6{
    background-color: rgb(128, 113, 92);
  }
  .column-7{
    background-color: chartreuse;
  }
  .column-8{
    background-color: aqua
  }
  .column-9{
    background-color: crimson; */
  /* } */
  /* Clear floats after the columns */
  /* .row:after {
    content: "";
    display: table;
    clear: both;
  } */