.nav{
    display: flex;
    float: left;
}
.sidebarr{
    display: flex;
    height: 100vh;
    width: 20%;
    background-color: rgb(4, 4, 146); 
}

.sideitemrow{
    margin-left: 10px;
}
 a{
    padding: 10px;
    font-size: large;
    color: #f3efef;
    font-weight: bold;
}
a:active{
    color: black;
    background-color: white;
}
 .sidebar-li{
    padding: 20px 20px
}